.post {
    margin: 40px 0;
}

.single-post .post {
    margin: 20px 0;
}

.post-title {
	// text-transform: uppercase;
}

.entry-meta {
    margin-bottom:  40px;
    line-height:    150%;

    @include max_desktop {
        margin-bottom: 35px;
    }
    @include max_laptop {
        margin-bottom: 30px;
    }
}

.entry-content {
    margin-top: 30px;
    
    @include laptop {
        margin-right: -20px;
    }
    @include max_tablet {
        margin-top: 20px;
    }
}

// Comments

.comments-area {
    h2 {
        font-size: 160%;
        line-height: 130%;
        padding: 40px 0 20px 0;

        @include max_tablet {
            padding-bottom: 10px;
        }
    }
}
.comment-reply-title {
    font-size: 160%;
    line-height: 130%;
    letter-spacing: 1px;
}

.recentcomments {
	padding: 0 !important;
    color: $text-color;
}

.panel {
    padding: 10px;
}