.btn-primary {
    background-color:   $linkColor;
    border-color:       $linkColor;
    @include transition(background-color, 	0.2s);
    @include transition(border-color, 		0.2s);

	&:hover,
	&:focus {
        background-color:   darken($linkColor, 10%);
        border-color:       darken($linkColor, 10%);
        @include transition(background-color, 0.2s);
	    @include transition(border-color, 0.2s);
	}
}