@include sticky-footer(51px, ".root", "#root-footer", ".site-footer");

@include max_tablet {
    @include sticky-footer(33px, ".root", "#root-footer", ".site-footer");
}

.site-footer {
	background-color: $footer-color;
	padding-top: 13px;
	@include font-family;
	text-transform: uppercase;

	@include max_tablet {
		padding-top: 7px;
	}

	.footer-brand {
		padding: 0 2px;		
	}
}