
// Inherent

html, body {
    overflow-x: hidden;
}
body {
    padding: 0;
    background-color: $bgColor;
}
article {
    padding-left: 0 !important;
}

code {
    @extend %darkBg;
}
pre, .highlight {
    @extend %darkBg;
}
pre {
    color: #666;
    margin: 30px 0;
}
time {
    color: #999;
}
table {
    border-spacing: 0 !important;
    border-color: transparent !important;
}


// Bootstrap

.single {
    @include max_tablet {
        padding-top: 0px;
    }
}
.row {
    margin-left:    0;
    margin-right:   0;
}
.container {
    @include max_tablet {
        padding: 0 25px 5px;
    }
}

// Main Content

.main-content{
    padding-top:    100px;
    padding-bottom: 20px;

    @include max_desktop {
        padding-top:    90px;
        padding-bottom: 10px;
    }

    @include max_laptop {
        padding-top:    85px;
        padding-bottom: 10px;
    }
    @include max_tablet{
        padding-top:    30px;
        padding-bottom: 0px;
    }

    > .container {
        @include max_tablet{
            background-color: transparent;
        }
    }
}

// Main Content Inner

.main-content-inner {
    padding-bottom: 0;

    section {
        height: auto;
        min-height: 0;
        max-height: 500px;
        padding: 9px 0;
    }
    .col-page-left {
        padding: 0;
    }
}

.content{
    margin-left: 15px;
    margin-right: 15px;
    @include max_tablet {
        margin-left: 0;
        margin-right: 0;
    }
}

.col-content {
    padding-left:  0px;
    padding-right: 50px;
    overflow: hidden;

    ul {
        list-style: disc !important;
    }

    @include max_laptop {
        padding-right: 40px;
    }
    @include max_tablet {
        padding-right: 0;
    }
}


.page-header {
    border: 0;
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}