/*
 * 	Mixins
 */

// Helpers
%removeFocusOutline {
    outline: 0 !important;
    text-decoration: none !important;
    @include box-shadow(0 0 0 rgba(black, 0));
}
.no-pad {
	padding: 0;
}
.no-pad-left {
    padding-left: 0 !important;
    @include max_tablet { padding-right: 0; }
}
.no-pad-right {
    padding-right: 0 !important;
    @include max_tablet { padding-left: 0; }
}
.no-pad-mobile {
    @include max_tablet{
        padding: 0 !important;
    }
}
.no-border, .no-border tbody > tr > td {
    border: 0;
    border-top: 0;
}
.v-pad {
    padding: 15px 0;
}
.pad-content {
    padding: 10px 0;
}
.pad-none {
    padding: 0;
}
.width-100 {
    width: 100%;
}
%img-full{
    width: 100%;
    height: auto;
}
.pos-abs{
    position: absolute;
}
.pos-rel{
    position: relative;
}
.text-right {
    text-align: right;
}

@mixin blur($amt: 10px) {
    -webkit-filter: blur($amt);
    -moz-filter:    blur($amt);
    -o-filter:      blur($amt);
    -ms-filter:     blur($amt);
    filter:         blur($amt);
}
@mixin grayscale($prc){
    $webkit-amt: $prc / 100;
    -webkit-filter: grayscale($webkit-amt); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    filter: gray; filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
}
%add-grayscale {
    -webkit-filter: grayscale(1); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    filter: gray; filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
}
%remove-grayscale {
    filter: none; /* Applies to FF + IE */
    -webkit-filter: grayscale(0);
}

@mixin center-vertically($h1, $h2) {
    position: fixed;
    top: 50%;
    left: 50%;

    $w: $desktop - $gutter;
    margin-top: -($h1 / 2);
    margin-left: -($w / 2);

    @include max_desktop {
        $w: 970px;
        margin-top: -($h2 / 2);
        margin-left: -($w / 2);
    }
    @include max_laptop {
        margin-top:   auto;
        margin-left:  auto;
        top:          0;
        left:         0;
        position: relative !important;
    }
}

// Sections
%section {
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}

// Backgrounds
%blackBg {
    background-color:   #000;
    border-color:       #000;
}
%darkBg {
    background-color:   #666;
    border-color:       #666;
}
%transBg {
    background-color: transparent;
    border: 0;
}
%opaqueBg {
    background-color: rgba(black, $opaqueBg);
}
%boxShadow {
    @include box-shadow(0px 2px 30px rgba(black, 0.7));
}
%boxShadowLg {
    @include box-shadow(0px 2px 60px rgba(black, 1));
}
%boxShadowMd {
    @include box-shadow(0px 2px 20px rgba(black, 1));
}
%boxShadowSm {
    @include box-shadow(0px 2px 10px rgba(black, 1));
}
%boxShadowNone {
    @include box-shadow(0 0 0 rgba(black, 0));
}