@import "responsive";


/* 
 *   Navbar 
 */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    
    > .container{
        @include border-radius(10px);
        @include max_tablet {
            border-radius: 0;
        }
    }
    .nav {
        > li > a {
            padding: 15px;
            text-transform: uppercase;
            @include font-family;

            @include max_desktop {
                padding: 15px 11px;
            }
            @include max_laptop {
                padding: 15px 6px 15px;
            }
            @include max_tablet{
                padding: 7.5px 15px;
            }
            &:hover,
            &:focus {
                color: $linkColor;
                background-color: transparent;
            }
        }
        > .active > a{
            background-color: $linkColor;

            &:hover,
            &:focus {
                color: white;
                background-color: darken($linkColor, 10%);
            }
        }
    }
}

/* Logo */

.navbar-brand {
    // width: 255px;
    padding: 15px 30px 0 15px;
    margin-left: -13px !important;

    color: white !important;    

    @include font-family;
    white-space: nowrap;
    text-transform: uppercase;

    &:hover,
    &:focus {
        color: $linkColor !important;
        background-color: transparent;
    }

    @include max_laptop {
        padding: 15px 23px 0 15px;
    }
    @include max_tablet {
        padding-top:    15px;
        padding-left:   15px;
        margin-left:    0 !important;
    }
}

.site-navigation-inner {
    padding: 0;
    width: 100%;
}
