.error404 .main-content-inner,
.search .main-content-inner{
	.content-padder {
		padding: 0;
	}

	@include max_tablet {
		padding: 0 0 15px 0;

		.col-page-left {
			padding: 10px 0;
		}
	}
}
.search-results {
	.col-page-left {
		@include max_tablet {
			padding: 0;
		}
	}
	h2 {
		margin: 0 0 30px 0;

		@include max_tablet {
			margin: 20px 0 20px 0;
		}
	}
}