.sidebar {
    padding: 10px 10px 30px 50px;

    @include max_tablet {
        padding: 20px 0;
    }

    h3 {
        text-transform: uppercase;
        padding: 0 0 10px;
        margin: 0 !important;
        font-size: 130%;
    }
    .nav > li > a {
        padding: 10px 0;

        @include font-family;
        font-size: 130%;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: darken ($linkColor, 10%);
            background-color: transparent;
        }
    }
    .recentcomments {
        padding: 0 !important;
    }
}