/*
 * TYPOGRAPHY
 */

@import "responsive";
@import "mixins";
@import "compass/css3/text-shadow";

@mixin verticalRhythm($scale){
	$fontRhythm:  $font-size-base 	* $scale;
	$lineRhythm: ($line-height-base	* $scale) * 0.8;
}

$default-text-shadow-color:     rgba(black, 1);
$default-text-shadow-blur:      3px;
$default-text-shadow-h-offset:  0px;
$default-text-shadow-v-offset:  2px;

@mixin font-family{
    font-family: 'Oswald', cursive;
}

/*
 *	BASICS
 */

body {
    color:          #ccc;
    font-size:      16px;
    line-height:    23px;

    @include max_desktop {
        font-size:      15px;
        line-height:    22px;
    }
    @include max_laptop {
        font-size:      14px;
        line-height:    21px;
    }
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: $hdrColor;
    margin-top: 0;
    padding: 0;

    @include font-family;

    span{
        color: $hdrSpanColor;
    }
    a:hover {
        text-decoration: none;
    }
}
h1 {
    font-size:      68px;
    margin-left:    -2px;

    @include max_desktop {
        font-size:  62px;
    }
    @include max_laptop {
        font-size:  47px;
    }
    @include max_tablet {
        font-size:  42px;
    }
}
h2 {
    font-size: 230%;
}
h3 {
    font-size: 95%;
    line-height: 130%;
    letter-spacing: 1px;

    i {
        margin-right: 5px;
        margin-top: 2px;
        color: darken($red, 20%);
    }
}


a{
    color: $linkColor;
    @include transition(color, 0.2s);

    &:hover, 
    &:focus{
        color: darken($linkColor, 10%);
        @extend %removeFocusOutline;
        @include transition(color, 0.2s);
    }
}
a:hover {
    text-decoration: none !important;
}
:focus, a:focus {
    outline: -webkit-focus-ring-color auto 0;
}



p {
    color:          $text-color !important;
    font-size:      17px;
    line-height:    25px;
    font-weight:    200;
    letter-spacing: 0.7px;
    margin-bottom:  20px;

    @include max_desktop {
        font-size:      16px;
        line-height:    24px;
        margin-bottom:  18px;
            letter-spacing: 0.5px;
    }
    @include max_laptop {
        font-size:      14px;
        line-height:    22px;
        margin-bottom:  13px;
        letter-spacing: 0.4px;
    }
     @include max_tablet{
        font-size:      16px;
        line-height:    23px;
        letter-spacing: 0.7px;
    }
}