@import "responsive";

$TESTING: false;

/* Nav */
$masthead_height:   600px;
$nav_height:        50px;
$use_shadows:       false;

/* Thumbs */
$max_thumb: $pager + 140;

/* Opaque Bg Value */
$opaqueBg: 0.8;

/* Body */
$section_height: 700px;

/* Spacers */
$pad-md: 15px;

/* Colors */
$red:       #d2322d;
$blue:    	#0074a2;
$info: 		#555;
$cyan:      #2ea2cc;
$green:     #5cb85c;
$yellow:    #f0ad4e;
$violet:	#6c71c4;
$magenta:	#d33682;

$vm_blue:   #428bca;
$vm_yellow: #f7b42c;
$vm_green:  #aad450;
$vm_pink:   #f27490;

$bgColor:       #eee;
$text-color:    #000;
$linkColor:     $magenta;
$hdrColor:      black;
$footer-color: 	black;
$hdrSpanColor:  $hdrColor;
$logoColor:     white;
