/*
 *	CUSTOM SCSS
 */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* Nav */
/* Thumbs */
/* Opaque Bg Value */
/* Body */
/* Spacers */
/* Colors */
/* 
 *	Reset 
 */
/* line 17, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: top;
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * TYPOGRAPHY
 */
/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/*
 * 	Mixins
 */
/* line 6, ../scss/_mixins.scss */
a:hover, a:focus {
  outline: 0 !important;
  text-decoration: none !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* line 11, ../scss/_mixins.scss */
.no-pad {
  padding: 0;
}

/* line 14, ../scss/_mixins.scss */
.no-pad-left {
  padding-left: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 14, ../scss/_mixins.scss */
  .no-pad-left {
    padding-right: 0;
  }
}

/* line 18, ../scss/_mixins.scss */
.no-pad-right {
  padding-right: 0 !important;
}
@media only all and (max-width: 767px) {
  /* line 18, ../scss/_mixins.scss */
  .no-pad-right {
    padding-left: 0;
  }
}

@media only all and (max-width: 767px) {
  /* line 22, ../scss/_mixins.scss */
  .no-pad-mobile {
    padding: 0 !important;
  }
}

/* line 27, ../scss/_mixins.scss */
.no-border, .no-border tbody > tr > td {
  border: 0;
  border-top: 0;
}

/* line 31, ../scss/_mixins.scss */
.v-pad {
  padding: 15px 0;
}

/* line 34, ../scss/_mixins.scss */
.pad-content {
  padding: 10px 0;
}

/* line 37, ../scss/_mixins.scss */
.pad-none {
  padding: 0;
}

/* line 40, ../scss/_mixins.scss */
.width-100 {
  width: 100%;
}

/* line 47, ../scss/_mixins.scss */
.pos-abs {
  position: absolute;
}

/* line 50, ../scss/_mixins.scss */
.pos-rel {
  position: relative;
}

/* line 53, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 115, ../scss/_mixins.scss */
code, pre, .highlight {
  background-color: #666;
  border-color: #666;
}

/*
 *	BASICS
 */
/* line 27, ../scss/_typography.scss */
body {
  color: #ccc;
  font-size: 16px;
  line-height: 23px;
}
@media only all and (max-width: 1199px) {
  /* line 27, ../scss/_typography.scss */
  body {
    font-size: 15px;
    line-height: 22px;
  }
}
@media only all and (max-width: 991px) {
  /* line 27, ../scss/_typography.scss */
  body {
    font-size: 14px;
    line-height: 21px;
  }
}

/* line 41, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: black;
  margin-top: 0;
  padding: 0;
  font-family: 'Oswald', cursive;
}
/* line 49, ../scss/_typography.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: black;
}
/* line 52, ../scss/_typography.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* line 56, ../scss/_typography.scss */
h1 {
  font-size: 68px;
  margin-left: -2px;
}
@media only all and (max-width: 1199px) {
  /* line 56, ../scss/_typography.scss */
  h1 {
    font-size: 62px;
  }
}
@media only all and (max-width: 991px) {
  /* line 56, ../scss/_typography.scss */
  h1 {
    font-size: 47px;
  }
}
@media only all and (max-width: 767px) {
  /* line 56, ../scss/_typography.scss */
  h1 {
    font-size: 42px;
  }
}

/* line 70, ../scss/_typography.scss */
h2 {
  font-size: 230%;
}

/* line 73, ../scss/_typography.scss */
h3 {
  font-size: 95%;
  line-height: 130%;
  letter-spacing: 1px;
}
/* line 78, ../scss/_typography.scss */
h3 i {
  margin-right: 5px;
  margin-top: 2px;
  color: #7e1e1b;
}

/* line 86, ../scss/_typography.scss */
a {
  color: #d33682;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  -o-transition: color, 0.2s;
  transition: color, 0.2s;
}
/* line 91, ../scss/_typography.scss */
a:hover, a:focus {
  color: #b02669;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  -o-transition: color, 0.2s;
  transition: color, 0.2s;
}

/* line 97, ../scss/_typography.scss */
a:hover {
  text-decoration: none !important;
}

/* line 100, ../scss/_typography.scss */
:focus, a:focus {
  outline: -webkit-focus-ring-color auto 0;
}

/* line 106, ../scss/_typography.scss */
p {
  color: black !important;
  font-size: 17px;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}
@media only all and (max-width: 1199px) {
  /* line 106, ../scss/_typography.scss */
  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 18px;
    letter-spacing: 0.5px;
  }
}
@media only all and (max-width: 991px) {
  /* line 106, ../scss/_typography.scss */
  p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 13px;
    letter-spacing: 0.4px;
  }
}
@media only all and (max-width: 767px) {
  /* line 106, ../scss/_typography.scss */
  p {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.7px;
  }
}

/* line 4, ../scss/_main.scss */
html, body {
  overflow-x: hidden;
}

/* line 7, ../scss/_main.scss */
body {
  padding: 0;
  background-color: #eeeeee;
}

/* line 11, ../scss/_main.scss */
article {
  padding-left: 0 !important;
}

/* line 21, ../scss/_main.scss */
pre {
  color: #666;
  margin: 30px 0;
}

/* line 25, ../scss/_main.scss */
time {
  color: #999;
}

/* line 28, ../scss/_main.scss */
table {
  border-spacing: 0 !important;
  border-color: transparent !important;
}

@media only all and (max-width: 767px) {
  /* line 36, ../scss/_main.scss */
  .single {
    padding-top: 0px;
  }
}

/* line 41, ../scss/_main.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

@media only all and (max-width: 767px) {
  /* line 45, ../scss/_main.scss */
  .container {
    padding: 0 25px 5px;
  }
}

/* line 53, ../scss/_main.scss */
.main-content {
  padding-top: 100px;
  padding-bottom: 20px;
}
@media only all and (max-width: 1199px) {
  /* line 53, ../scss/_main.scss */
  .main-content {
    padding-top: 90px;
    padding-bottom: 10px;
  }
}
@media only all and (max-width: 991px) {
  /* line 53, ../scss/_main.scss */
  .main-content {
    padding-top: 85px;
    padding-bottom: 10px;
  }
}
@media only all and (max-width: 767px) {
  /* line 53, ../scss/_main.scss */
  .main-content {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}
@media only all and (max-width: 767px) {
  /* line 71, ../scss/_main.scss */
  .main-content > .container {
    background-color: transparent;
  }
}

/* line 80, ../scss/_main.scss */
.main-content-inner {
  padding-bottom: 0;
}
/* line 83, ../scss/_main.scss */
.main-content-inner section {
  height: auto;
  min-height: 0;
  max-height: 500px;
  padding: 9px 0;
}
/* line 89, ../scss/_main.scss */
.main-content-inner .col-page-left {
  padding: 0;
}

/* line 94, ../scss/_main.scss */
.content {
  margin-left: 15px;
  margin-right: 15px;
}
@media only all and (max-width: 767px) {
  /* line 94, ../scss/_main.scss */
  .content {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 103, ../scss/_main.scss */
.col-content {
  padding-left: 0px;
  padding-right: 50px;
  overflow: hidden;
}
/* line 108, ../scss/_main.scss */
.col-content ul {
  list-style: disc !important;
}
@media only all and (max-width: 991px) {
  /* line 103, ../scss/_main.scss */
  .col-content {
    padding-right: 40px;
  }
}
@media only all and (max-width: 767px) {
  /* line 103, ../scss/_main.scss */
  .col-content {
    padding-right: 0;
  }
}

/* line 121, ../scss/_main.scss */
.page-header {
  border: 0;
  margin: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

/* line 1, ../scss/_blog.scss */
.post {
  margin: 40px 0;
}

/* line 5, ../scss/_blog.scss */
.single-post .post {
  margin: 20px 0;
}

/* line 13, ../scss/_blog.scss */
.entry-meta {
  margin-bottom: 40px;
  line-height: 150%;
}
@media only all and (max-width: 1199px) {
  /* line 13, ../scss/_blog.scss */
  .entry-meta {
    margin-bottom: 35px;
  }
}
@media only all and (max-width: 991px) {
  /* line 13, ../scss/_blog.scss */
  .entry-meta {
    margin-bottom: 30px;
  }
}

/* line 25, ../scss/_blog.scss */
.entry-content {
  margin-top: 30px;
}
@media only all and (min-width: 768px) and (max-width: 991px) {
  /* line 25, ../scss/_blog.scss */
  .entry-content {
    margin-right: -20px;
  }
}
@media only all and (max-width: 767px) {
  /* line 25, ../scss/_blog.scss */
  .entry-content {
    margin-top: 20px;
  }
}

/* line 39, ../scss/_blog.scss */
.comments-area h2 {
  font-size: 160%;
  line-height: 130%;
  padding: 40px 0 20px 0;
}
@media only all and (max-width: 767px) {
  /* line 39, ../scss/_blog.scss */
  .comments-area h2 {
    padding-bottom: 10px;
  }
}

/* line 49, ../scss/_blog.scss */
.comment-reply-title {
  font-size: 160%;
  line-height: 130%;
  letter-spacing: 1px;
}

/* line 55, ../scss/_blog.scss */
.recentcomments {
  padding: 0 !important;
  color: black;
}

/* line 60, ../scss/_blog.scss */
.panel {
  padding: 10px;
}

/* line 3, ../scss/_pages.scss */
.error404 .main-content-inner .content-padder,
.search .main-content-inner .content-padder {
  padding: 0;
}
@media only all and (max-width: 767px) {
  /* line 2, ../scss/_pages.scss */
  .error404 .main-content-inner,
  .search .main-content-inner {
    padding: 0 0 15px 0;
  }
  /* line 10, ../scss/_pages.scss */
  .error404 .main-content-inner .col-page-left,
  .search .main-content-inner .col-page-left {
    padding: 10px 0;
  }
}

@media only all and (max-width: 767px) {
  /* line 16, ../scss/_pages.scss */
  .search-results .col-page-left {
    padding: 0;
  }
}
/* line 21, ../scss/_pages.scss */
.search-results h2 {
  margin: 0 0 30px 0;
}
@media only all and (max-width: 767px) {
  /* line 21, ../scss/_pages.scss */
  .search-results h2 {
    margin: 20px 0 20px 0;
  }
}

/*
 *  RESPONSIVE
 */
/*
 *  MIXINS
 */
/*
 *  SHORTCUTS
 */
/*
 *  MIN / MAX
 */
/* 
 *   Navbar 
 */
/* line 8, ../scss/_navbar.scss */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
/* line 12, ../scss/_navbar.scss */
.navbar > .container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
@media only all and (max-width: 767px) {
  /* line 12, ../scss/_navbar.scss */
  .navbar > .container {
    border-radius: 0;
  }
}
/* line 19, ../scss/_navbar.scss */
.navbar .nav > li > a {
  padding: 15px;
  text-transform: uppercase;
  font-family: 'Oswald', cursive;
}
@media only all and (max-width: 1199px) {
  /* line 19, ../scss/_navbar.scss */
  .navbar .nav > li > a {
    padding: 15px 11px;
  }
}
@media only all and (max-width: 991px) {
  /* line 19, ../scss/_navbar.scss */
  .navbar .nav > li > a {
    padding: 15px 6px 15px;
  }
}
@media only all and (max-width: 767px) {
  /* line 19, ../scss/_navbar.scss */
  .navbar .nav > li > a {
    padding: 7.5px 15px;
  }
}
/* line 34, ../scss/_navbar.scss */
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #d33682;
  background-color: transparent;
}
/* line 39, ../scss/_navbar.scss */
.navbar .nav > .active > a {
  background-color: #d33682;
}
/* line 43, ../scss/_navbar.scss */
.navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: white;
  background-color: #b02669;
}

/* Logo */
/* line 53, ../scss/_navbar.scss */
.navbar-brand {
  padding: 15px 30px 0 15px;
  margin-left: -13px !important;
  color: white !important;
  font-family: 'Oswald', cursive;
  white-space: nowrap;
  text-transform: uppercase;
}
/* line 65, ../scss/_navbar.scss */
.navbar-brand:hover, .navbar-brand:focus {
  color: #d33682 !important;
  background-color: transparent;
}
@media only all and (max-width: 991px) {
  /* line 53, ../scss/_navbar.scss */
  .navbar-brand {
    padding: 15px 23px 0 15px;
  }
}
@media only all and (max-width: 767px) {
  /* line 53, ../scss/_navbar.scss */
  .navbar-brand {
    padding-top: 15px;
    padding-left: 15px;
    margin-left: 0 !important;
  }
}

/* line 80, ../scss/_navbar.scss */
.site-navigation-inner {
  padding: 0;
  width: 100%;
}

/* line 1, ../scss/_sidebar.scss */
.sidebar {
  padding: 10px 10px 30px 50px;
}
@media only all and (max-width: 767px) {
  /* line 1, ../scss/_sidebar.scss */
  .sidebar {
    padding: 20px 0;
  }
}
/* line 8, ../scss/_sidebar.scss */
.sidebar h3 {
  text-transform: uppercase;
  padding: 0 0 10px;
  margin: 0 !important;
  font-size: 130%;
}
/* line 14, ../scss/_sidebar.scss */
.sidebar .nav > li > a {
  padding: 10px 0;
  font-family: 'Oswald', cursive;
  font-size: 130%;
  text-transform: uppercase;
}
/* line 22, ../scss/_sidebar.scss */
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
  color: darken #d33682, 10%;
  background-color: transparent;
}
/* line 27, ../scss/_sidebar.scss */
.sidebar .recentcomments {
  padding: 0 !important;
}

/* line 10, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -51px;
}
/* line 18, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.root #root-footer {
  height: 51px;
}

/* line 20, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.site-footer {
  clear: both;
  position: relative;
  height: 51px;
}

@media only all and (max-width: 767px) {
  /* line 10, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  html, body {
    height: 100%;
  }

  /* line 12, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  .root {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -33px;
  }
  /* line 18, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  .root #root-footer {
    height: 33px;
  }

  /* line 20, ../../../../../../../../../Users/judah/.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  .site-footer {
    clear: both;
    position: relative;
    height: 33px;
  }
}
/* line 7, ../scss/_footer.scss */
.site-footer {
  background-color: black;
  padding-top: 13px;
  font-family: 'Oswald', cursive;
  text-transform: uppercase;
}
@media only all and (max-width: 767px) {
  /* line 7, ../scss/_footer.scss */
  .site-footer {
    padding-top: 7px;
  }
}
/* line 17, ../scss/_footer.scss */
.site-footer .footer-brand {
  padding: 0 2px;
}

/* line 1, ../scss/_buttons.scss */
.btn-primary {
  background-color: #d33682;
  border-color: #d33682;
  -webkit-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  transition: background-color, 0.2s;
  -webkit-transition: border-color, 0.2s;
  -moz-transition: border-color, 0.2s;
  -o-transition: border-color, 0.2s;
  transition: border-color, 0.2s;
}
/* line 8, ../scss/_buttons.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #b02669;
  border-color: #b02669;
  -webkit-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  transition: background-color, 0.2s;
  -webkit-transition: border-color, 0.2s;
  -moz-transition: border-color, 0.2s;
  -o-transition: border-color, 0.2s;
  transition: border-color, 0.2s;
}

/* line 1, ../scss/_woocommerce.scss */
.woocommerce-breadcrumb {
  display: none;
}
